<h1>{{ title }}</h1>

<div>
     <input [(ngModel)]="product.name" placeholder="name"><br />
    <input [(ngModel)]="product.type" placeholder="type"><br />
    <input [(ngModel)]="product.quantity" placeholder="quantity"><br />
    <input [(ngModel)]="product.price" placeholder="price"><br />
    
    <button (click)="add(product); product.value=''">
        Add
    </button>
</div>


<hr />
<ul>
    <li *ngFor="let product of products"
        [class.pepito]="product === selected"
        (click)="onSelect(product)">
        <span>{{product.id}}</span> {{product.name}}
    </li>
</ul>

<product-detail [product]="selectedproduct"></product-detail>