<h1>{{ title }}</h1>
<ul>
    <li *ngFor="let user of users"
        [class.pepito]="user === selected"
        (click)="onSelect(user)">
        <span>{{user.id}}</span> {{user.name}}
    </li>
</ul>

<div *ngIf="user">
    <hr />
    <label>Id: </label><br />
    <input [(ngModel)]="user.id" placeholder="id"><br />
    <label>email: </label><br />
    <textarea [(ngModel)]="user.email" placeholder="email"></textarea><br />
    <label>password: </label><br />
    <textarea [(ngModel)]="user.password" placeholder="password"></textarea><br />
    <label>fisrtname: </label><br />
    <input [(ngModel)]="user.firstname" placeholder="firstname"><br />
     <label>flastname: </label><br />
    <input [(ngModel)]="user.lastname" placeholder="lastname"><br />
     <label>phone: </label><br />
    <input [(ngModel)]="user.phone" placeholder="phone"><br />
       <label>url: </label><br />
    <input [(ngModel)]="user.url" placeholder="url"><br />
        <button (click)="save()">Save</button>
</div>