<h1>{{title}}</h1>
<ul>
    <li>
        <div>
	<hr />
    <label>Units: </label><br />
    <input [(ngModel)]="units" placeholder="units" >
	<label for="">Airport </label>
	<input type="checkbox"  id="airport" [(ngModel)]="airport" placeholder="airport"  (change)="onChange($event)  ">
    
	<label>app: </label>
    <input type="checkbox" [(ngModel)]="app" placeholder="app" (change)="onChange($event)">
    <label>Festives: </label>
    <input  type="checkbox" [(ngModel)]="festives" placeholder="festives" (change)="onChange($event)"><br/>
    <label>total: </label>
    <h1>{{ 
             Total }}</h1>
    
</div> 
    </li>
</ul>

